body {
	text-align: center;
	color: #FFF;
}
#container {
	margin: 10px 20px;
}
.span12 {
	color: #000;
	margin-bottom: 10px;
}
.span12 p {
	color: #FFF;
	
	font-size: 18px;
}
.span4, .span8, .span12 {
	background-color: #0769AD;
}
table {
	text-align: left;
	margin: 10px 20px;
}
.span8 table tr {
	border-bottom: 1px solid #07178C;
}
.span8 table th {
	color: #000;
	font-size: 16px;
	text-transform: uppercase;
	border-bottom: 1px solid #FFF;
}
.vartext {
	color: #F2A;
	font-weight: bold;
}