<!DOCTYPE html>
<html>
<head>
	<title>This is parking tickets info site.</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">

	<script type="text/javascript" src='/static/js/jquery.js' ></script>
	<script type="text/javascript" src='/static/js/bootstrap.js'></script>
	
</head>
<body>
	<div id='container'>
		<div class="row">
			<div class="span12">
				<h1>Parking Ticket Projects.</h1>
				<p>
					Calculate the chance you will get a parking ticket at any address in San Francisco. Or just find out what the parking laws are at any address. Based on public records of actual tickets.
				</p>
			</div>

		</div>
		<div class="row">
			<div class="span4">
				<form action='/' method='post'>{% csrf_token %}
					{{ form.as_p }}
					<input type='submit' name='chance_of_ticket' value='CHANCE OF TICKET'>
					<input type='submit' name='tell_me_the_laws' value='GET LAW'>
				</form>
				<hr>
			</div>
			<div class="span8">
			  	{% if TF %}

			  		{% if TF == 'No' %}
			  			<p>No Data found for your given address</p>
			  		{% else %}
				  		Start Date : <b>{{ TF.start_datetime }}</b><br>
						End Date : <b>{{ TF.end_datetime }}</b><br>
						Hours : <b>{{ TF.hours }}</b><br>
						Tickets per Hours : <b>{{ TF.tickets_per_hour }}</b><br>
						Count : <b>{{ TF.cnt }}</b>
						<hr>
						<p>
							<span class=vartext>{{ TF.cnt }}</span> tickets were issued within 10 meters of <span class=vartext>{{ address }}</span> on Friday mornings between <span class=vartext>{{ TF.start_datetime }}</span> and <span class=vartext>{{ TF.end_datetime }}</span>. while that address was patrolled 678 times. Based on that information, there is a 33% chance you will get a ticket if you park illegally at the same address at the same time of day and same day of week.
						</p>
					{% endif %}

				{% elif PL %}

					{% if PL  == 'No' %}
			  			<p>No Data found for your given address</p>
			  		{% else %}
			  			<p>
			  				In 2012, the top reason for a parking citation within 10 meters of <span class=vartext>{{ address }}</span> on Friday mornings between 10am and 11am was<span class=vartext> {{ mvr }}</span>. The second most common reason was <span class=vartext>{{ smvr }}</span>.
			  			</p>
						<table width=90%>
							<tr>
								<th>violation</th><th>description</th>
								<th>street</th><th>meters</th>
								<th>fine_amt</th>
							</tr>

							{% for law in PL %}
							<tr>
								<td>{{ law.violation }}</td><td>{{ law.description }}</td>
								<td>{{ law.street }}</td><td>{{ law.meters }}</td>
								<td>{{ law.fine_amt }}</td>
							</tr>				  		
					  		{% endfor %}

				  		</table>
				  	{% endif %}

				{% endif %}
			</div>
		</div>
	</div>
</body>
</html>